//-----------------------------Palette 1-----------------------------//
$darkgray: #37364A;
$darkblue1: #11294B;
$darkblue2: #141336;
$lightblue: #306480;
//------------------------------Palette 2----------------------------//
$darkergray: #16161B;
$blue: #0C489D;
$purple: #4F256F;
$lilac: #993794;
//------------------------------Pallette 3---------------------------//
$orange: #FD9413;
$black: #000;
$white: #fff;
$Lighterblue: #C2E1F2;
//------------------------------Shadow-------------------------------//
$darkpurpleshadow: 5px 5px 25px  10px rgba(79,37,111, 0.50);
$lightlilacshadow: 5px 5px 25px 10px rgba(153, 55, 148, 0.50);
$LightShadow: 5px 5px 25px rgba(19, 31, 54, 0.70);
$DarkShadow: 5px 5px 25px  rgba(149, 190, 228, 0.25);
// -------------------------Dynamictitle----------------------------//
.container-contact{
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 10px;
  margin-top: 0.5%;
  background: rgba(12, 72, 157, 0.5);
  height: 550px;
  margin-right: 2%;
  margin-left: 2%;
body.dark &{
background: rgba(17,41,75, 0.5);
}
  }

  form{
    color: $Lighterblue;
    font-weight: 700;
    margin-left: -23%;
    margin-top: 70px;
    padding: 40px 40px;
    box-shadow: $LightShadow;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    height: 470px;
    background: $darkgray;

    body.dark &{
      box-shadow: $DarkShadow;
      background: $darkergray;
    }
    
  }
  .contact-me{
    margin-top: 1%;
    margin-left: 25%;
    height: 30px;
    width: 180px;
    font-weight: 500;
    border-radius:50px;
    font-size: 25px;
    color: $Lighterblue;
    background: $blue;
    text-align: center;
    box-shadow: $LightShadow;
  
    body.dark &{
      background: $darkblue1;
      color: $white;
      box-shadow: $DarkShadow;
    }
  }

  .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .label{
    color: $Lighterblue;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    

  }

  input, textarea{
    padding: 15px 20px;
    border-radius: 25px;
    background-color: rgba(153, 55, 148, 0.7);
    box-shadow: $LightShadow;
    border: $darkgray;
    color: $Lighterblue;
    outline: none;
    margin-bottom: 3%;
    font-weight: 500;

    body.dark &{
      box-shadow: $DarkShadow;
      background-color:  rgba(79,37,111, 0.50);
    }
  }

  input::placeholder, textarea::placeholder{
    color: $Lighterblue;
  }

  .btn-submit{
    padding: 1%;
    margin-top: -1%;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color:  $blue;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s;
    cursor: pointer;
  body.dark &{
    background-color: $darkblue1;
  }
  }

  .btn-submit:hover{

background-color: $lilac;
transform: scale(1.1);
body.dark &{
  background-color: $purple;
}
  }

// ----------------responsive-----------
@media (max-width:1280px){
  .container-contact{
    height: 650px;
}
.contact-me{
  margin-top: 3%;
}
form{

  margin-top: 100px;
}
}
@media (max-width:1024px){
  form{
    margin-left: -30%;
    margin-top: 70px;
    width: 400px;
    height: 470px;
  }
  .contact-me{
    margin-top: 1%;
    margin-left: 15%;
    height: 30px;
    width: 180px;
  }
}
@media (max-width:912px){
  .container-contact{
    overflow: hidden;
    position: static;
    display: flex;
    border-radius: 10px;
    margin-top: 0.5%;
    height: 1300px;
    margin-right: 2%;
    margin-left: 2%;
  
    }
  
    form{
      font-weight: 700;
      margin-left: -38%;
      margin-top: 80%;
      padding: 25px 25px;
      border-radius: 20px;
      text-align: center;
      width: 400px;
      height: 470px;
  }
  
  .contact-me{
    margin-top: 72%;
    margin-left: 40%;
  }
}
@media (max-width:820px){
  .container-contact{
    overflow: hidden;
    position: static;
    display: flex;
    border-radius: 10px;
    margin-top: 0.5%;
    height: 1100px;
    margin-right: 2%;
    margin-left: 2%;
  
    }
  
    form{
      font-weight: 700;
      margin-left: -38%;
      margin-top: 78%;
      padding: 25px 25px;
      border-radius: 20px;
      text-align: center;
      width: 400px;
      height: 470px;
  }
  
  .contact-me{
    margin-top: 72%;
    margin-left: 40%;
  }
  
  
  }
  @media (max-width:768px){
    .contact-me{
      margin-top: 78%;
      margin-left: 40%;
    }
    form{
    
      margin-top: 85%;}
  }
@media (max-width:550px){
  .container-contact{
    overflow: hidden;
    position: static;
    display: flex;
    border-radius: 10px;
    margin-top: 0.5%;
    height: 1100px;
    margin-right: 2%;
    margin-left: 2%;
  
    }
  
    form{
      font-weight: 700;
      margin-left: -60.5%;
      margin-top: 120%;
      padding: 25px 25px;
      border-radius: 20px;
      text-align: center;
      width: 400px;
      height: 470px;
  }
  
  .contact-me{
    margin-top: 110%;
    margin-left: 35%;
  }
  
  
  }
@media (max-width:414px){
.container-contact{
  overflow: hidden;
  position: static;
  display: flex;
  border-radius: 10px;
  margin-top: 0.5%;
  height: 1100px;
  margin-right: 2%;
  margin-left: 2%;

  }

  form{
    font-weight: 700;
    margin-left: -68%;
    margin-top: 160%;
    padding: 25px 25px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 450px;
}

.contact-me{
  margin-top: 148%;
  margin-left: 28%;
}


}
@media (max-width:395px){
  form{
  
    margin-left: -71%;}
}
@media (max-width:375px){
.container-contact{
  border-radius: 10px;
  margin-top: 0.5%;
  background: rgba(12, 72, 157, 0.5);
  height: 1100px;
  margin-right: 2%;
  margin-left: 2%;

}

form{
  
  margin-left: -65%;
  margin-top: 180%;
}

.contact-me{
  margin-top: 560px;
  margin-left: 14%;
}
}
@media (max-width:360px){
  form{
    margin-left: -71%;
    margin-top: 185%;
  }
  .contact-me{
    margin-left: 18%;
  }
}
@media (max-width:280px){
  .container-contact{
     margin-top: 0.5%;
    height: 1000px;
    margin-right: 2%;
    margin-left: 2%;
  
  }
  
  form{
    width: 230px;
    height: 450px; 
    margin-left: -82.7%;
    margin-top: 203%;
  }
  
  .contact-me{
    margin-top: 470px;
    margin-left: 14%;
  }
  }