//-----------------------------Palette 1-----------------------------
$darkgray: #37364A;
$darkblue1: #11294B;
$darkblue2: #141336;
$lightblue: #306480;
//------------------------------Palette 2----------------------------
$darkergray: #16161B;
$blue: #0C489D;
$purple: #4F256F;
$lilac: #993794;
//------------------------------Pallette 3---------------------------//
$orange: #FD9413;
$black: #000;
$white: #fff;
$Lighterblue: #C2E1F2;
//------------------------------Shadow-------------------------------//
$darkpurpleshadow: 5px 5px 25px  10px rgba(79,37,111, 0.50);
$lightlilacshadow: 5px 5px 25px 10px rgba(153, 55, 148, 0.50);
$LightShadow: 5px 5px 25px rgba(19, 31, 54, 0.70);
$DarkShadow: 5px 5px 25px  rgba(149, 190, 228, 0.25);
// ------------------------------------------Flip card---------------------------//
.card-titles{
  overflow: hidden;
  display: flex;
  height: 30px;
  width: 120px;
  margin-left: 30% ;
  margin-top: -7%;
  font-size: 20px;
  color: $white;
}
.about-me{
  position: absolute;
  margin-top: -14.4%;
  margin-left: 30%;
  height: 30px;
  width: 180px;
  font-weight: 500;
  border-radius:50px;
  font-size: 25px;
  color: $Lighterblue;
  background: $blue;
  text-align: center;
  box-shadow: $lightlilacshadow;

  body.dark &{
    background: $darkblue1;
    color: $white;
  }
}

.flip-h2-1{
    font-size: 30px;
    margin-top: 20px;
    color: $white;
    font-weight: 700;}

.flip-p-1{
    font-size: 18px;
    letter-spacing: 0.5px;
    color: $Lighterblue;
    font-weight: 300;
}
.flip-h3-1{
    font-size: 20px;
    color: $white;
    font-weight: 400;

}
// -----------------------------2----------------------------------------------//
.flip-h2-2{
    font-size: 30px;
    margin-top: 20px;
    color: $white;
    font-weight: 700;
    
}
    

.flip-p-2{
    font-size: 18px;
    letter-spacing: 0.5px;
    color: $Lighterblue;
    font-weight: 300;
}
.flip-h3-2{
    font-size: 20px;
    color: $white;
    font-weight: 400;

}


.cards-grid {
  position:absolute;
    display: flex;
    margin-top: 70px;
    margin-left: 55%;
  
  }
  
  /* FLIP CARD */
  .flip-card {
  
    width: 400px;
    height: 470px;
    perspective: 2000px;
  }
  .flip-card-inner {
    
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px $darkpurpleshadow;
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }
  .flip-card-front, .flip-card-back-1,.flip-card-back-2, .front-img-1, .front-img-2{
  
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    backface-visibility: hidden;
  
  
  }
  .flip-card-front {
      
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
   
  }
  
  .front-img-1{
   
    visibility:visible;
    width: 400px;
    height: 470px;
      perspective: 2000px;
      box-shadow: $darkpurpleshadow;
      border-radius: 5%;

      body.dark &{
        visibility: hidden;

    
   }

  }
  .front-img-2{
    
    visibility: hidden;
    width: 400px;
    height: 470px;
      perspective: 2000px;
      box-shadow: $lightlilacshadow;
      border-radius: 5%;
      position: absolute;
      body.dark &{
        visibility: visible;
    
   }
  }
  .flip-card-back-1 {
    visibility: visible;
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: $darkgray;
    transform: rotateY(180deg);
    box-shadow: $darkpurpleshadow;
    opacity: 0.5;
    body.dark &{
        visibility: hidden;}
    
  }
  .flip-card-back-2 {
    visibility: hidden;
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: $darkergray;
    transform: rotateY(180deg);
    box-shadow: $lightlilacshadow;
    opacity: 0.6;
    body.dark &{
        visibility: visible;
    }
}
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }

  // --------------responsive---------
  @media (max-width:1280px){
    .about-me{
      margin-top: -7%;
    }
    .flip-card {
      margin-top: 8%;
    }
  }
  @media (max-width:1024px){
    .about-me{
    
      margin-top: -7.5%;
    margin-left: 30%;
    height: 30px;
    width: 180px;
      font-weight: 500;
      border-radius:50px;
      font-size: 25px;
      
    }
    .cards-grid {
        margin-top: 40px;
        margin-left: 55%;
      }
      .flip-card {
        width: 400px;
      height: 470px;
        perspective: 2000px;
      }
      .front-img-1{
        visibility:visible;
        width: 400px;
        height: 470px;
        
       }
      .front-img-2{
        visibility: hidden;
        width: 400px;
        height: 470px;
      }
    
        
    }
  @media (max-width:912px){
    .about-me{
    
      margin-top: -14.4%;
    margin-left: 30%;
    height: 30px;
    width: 180px;
      font-weight: 500;
      border-radius:50px;
      font-size: 25px;
      
    }
    .cards-grid {
        margin-top: 70px;
        margin-left: 24%;
      }
      .flip-card {
        width: 400px;
      height: 470px;
        perspective: 2000px;
      }
      .front-img-1{
        visibility:visible;
        width: 400px;
        height: 470px;
        
       }
      .front-img-2{
        visibility: hidden;
        width: 400px;
        height: 470px;
      }
    
        
    }
   
 
@media (max-width:820px){
  .about-me{
  
    margin-top: -3%;
  margin-left: 30%;
  height: 30px;
  width: 180px;
    font-weight: 500;
    border-radius:50px;
    font-size: 25px;
    
  }
  .cards-grid {
      margin-top: 40px;
      margin-left: 24%;
    }
    .flip-card {
      width: 400px;
    height: 470px;
      perspective: 2000px;
    }
    .front-img-1{
      visibility:visible;
      width: 400px;
      height: 470px;
      
     }
    .front-img-2{
      visibility: hidden;
      width: 400px;
      height: 470px;
    }
  
      
  }
  @media (max-width:768px){
    .about-me{
  
      margin-top: -3%;}
    .cards-grid {
      margin-top: 40px;
      margin-left: 24%;
    }
  }
@media (max-width:550px){
  .about-me{
  
    margin-top: -5%;
  margin-left: 30%;
  height: 30px;
  width: 180px;
    font-weight: 500;
    border-radius:50px;
    font-size: 25px;
    
  }
  .cards-grid {
      margin-top: 36px;
      margin-left: 10%;
    }
    .flip-card {
      width: 400px;
    height: 470px;
      perspective: 2000px;
    }
    .front-img-1{
      visibility:visible;
      width: 400px;
      height: 470px;
      
     }
    .front-img-2{
      visibility: hidden;
      width: 400px;
      height: 470px;
    }
  
      
  }

@media (max-width:414px){
    .about-me{
    
      margin-top: -14.4%;
      margin-left: 22%;
      height: 30px;
      width: 180px;
      font-weight: 500;
      border-radius:50px;
      font-size: 25px;
      
    }
    .cards-grid {
        margin-top: 70px;
        margin-left: 7%;
      }
      .flip-card {
        width: 300px;
        height: 450px;
        perspective: 2000px;
      }
      .front-img-1{
        visibility:visible;
        width: 300px;
        height: 450px;
        
       }
      .front-img-2{
        visibility: hidden;
        width: 300px;
        height: 450px;   
      }
    
        
    }
 
    @media (max-width:393px){
      .about-me{
      
        margin-top: -7%;}
      .cards-grid {
        margin-top: 40px;
      }
    }
    @media (max-width:375px){
      .about-me{
      
        margin-top: -7%;
        margin-left: 22%;
        height: 30px;
        width: 180px;
        font-weight: 500;
        border-radius:50px;
        font-size: 25px;
        
      }
      .cards-grid {
          margin-top: 40px;
          margin-left: 1%;
        }
        .flip-card {
          width: 300px;
          height: 450px;
          perspective: 2000px;
        }
        .front-img-1{
          visibility:visible;
          width: 300px;
          height: 450px;
          
         }
        .front-img-2{
          visibility: hidden;
          width: 300px;
          height: 450px;   
        }
      
          
      }
    @media (max-width:360px){
      .about-me{
        margin-top: -10%;
      }
      .cards-grid {
        margin-top: 50px;}
    }
      @media (max-width:280px){
        .about-me{
        
          margin-top: -17%;
          margin-left: 8%;
          height: 30px;
          width: 180px;
          font-weight: 500;
          border-radius:50px;
          font-size: 25px;
          margin-bottom: 2%;
          
        }
        .cards-grid {
            margin-top: 25%;
            margin-left: 3%;
          }
          .flip-h2-1{
            font-size: 15px;
            margin-top: 20px;
            color: $white;
            font-weight: 700;}
        
        .flip-p-1{
            font-size: 14px;
            letter-spacing: 0.5px;
            color: $Lighterblue;
            font-weight: 300;
        }
        .flip-h3-1{
            font-size: 16px;
            color: $white;
            font-weight: 400;
        
        }
        // -----------------------------2----------------------------------------------//
        .flip-h2-2{
            font-size: 15px;
            margin-top: 20px;
            color: $white;
            font-weight: 700;
            
        }
            
        
        .flip-p-2{
            font-size: 14px;
            letter-spacing: 0.5px;
            color: $Lighterblue;
            font-weight: 300;
        }
        .flip-h3-2{
            font-size: 16px;
            color: $white;
            font-weight: 400;
        
        }
          .flip-card {
            width: 230px;
            height: 370px;
            perspective: 2000px;
          }
          .front-img-1{
            visibility:visible;
            width: 230px;
            height: 370px;
            
           }
          .front-img-2{
            visibility: hidden;
            width: 230px;
            height: 370px;   
          }
        
            
        }
    