//-----------------------------Palette 1-----------------------------//
$darkgray: #37364A;
$darkblue1: #11294B;
$darkblue2: #141336;
$lightblue: #306480;
//------------------------------Palette 2----------------------------//
$darkergray: #16161B;
$blue: #0C489D;
$purple: #4F256F;
$lilac: #993794;
//------------------------------Pallette 3---------------------------//
$orange: #FD9413;
$black: #000;
$white: #fff;
$Lighterblue: #C2E1F2;
//------------------------------Shadow-------------------------------//
$darkpurpleshadow: 5px 5px 25px  10px rgba(79,37,111, 0.50);
$lightlilacshadow: 5px 5px 25px 10px rgba(153, 55, 148, 0.50);
$LightShadow: 5px 5px 25px rgba(19, 31, 54, 0.70);
$DarkShadow: 5px 5px 25px  rgba(149, 190, 228, 0.25);
// -------------------------Dynamictitle----------------------------//
.footer{
 
 overflow: hidden;
 position:static;
    background-color: $darkgray;
    align-items: center;
    height: 160px;
    width: 100%;
    margin-top: 1.5%;

    padding: 5px 10px;
    box-shadow:  $LightShadow;
    transition: all ease 2s;

    body.dark &{
        background-color: $darkergray;
        box-shadow: $DarkShadow;
    }
}

.logo-f{
  margin-left: 50%;
}
.one-f{

  visibility: visible;
  height: 100px;
  width: auto;
  border-radius: 50%;
  margin-left: -5%;
  margin-top: 5%;
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;


box-shadow: $LightShadow;
  body.dark &{
    visibility: hidden;
}
  
}

.two-f{

  visibility: hidden;
  height: 100px;
  width: auto;
  border-radius: 50%;
  box-shadow: $DarkShadow;
  margin-left: -15%;
  body.dark &{
    visibility: visible;
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
  
  
}
}
@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}
@media (max-width:820px){
  .one-f{

    height: 100px;
    width: auto;
 
    margin-left: -20%;
    margin-top: 5%;
  }
  .two-f{

    height: 100px;
    width: auto;
    margin-left: -15%;
    margin-top: 5%;
  }
}
@media (max-width:414px){
  .one-f{

    height: 100px;
    width: auto;
 
    margin-left: -20%;
    margin-top: 5%;
  }
  .two-f{

    height: 100px;
    width: auto;
    margin-left: -50%;
    margin-top: 5%;
  }
}
@media (max-width:375px){
  .animate-2{
    visibility: hidden;
  }
  .footer{
    height: 120px;
    width: 100%;
}
.one-f{
  margin-top: 1%;
  height: 80px;
  width: auto;
}
.two-f{
  margin-top: 1%;
  height: 80px;
  width: auto;
}
}
@media (max-width:280px){
  .animate-2{
    visibility: hidden;
  }
  .footer{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100%;
}
.logo-f{
  margin-left: 40%;
}
.one-f{
  margin-top: 1%;
  height: 80px;
  width: auto;
}
.two-f{
  margin-top: 1%;
  height: 80px;
  width: auto;
}
}