//-----------------------------Palette 1-----------------------------
$darkgray: #37364A;
$darkblue1: #11294B;
$darkblue2: #141336;
$lightblue: #306480;
//------------------------------Palette 2----------------------------
$darkergray: #16161B;
$blue: #0C489D;
$purple: #4F256F;
$lilac: #993794;
//------------------------------Pallette 3---------------------------//
$orange: #FD9413;
$black: #000;
$white: #fff;
$Lighterblue: #C2E1F2;
//------------------------------Shadow-------------------------------//
$darkpurpleshadow: 5px 5px 25px  10px rgba(79,37,111, 0.50);
$lightlilacshadow: 5px 5px 25px 10px rgba(153, 55, 148, 0.50);
$LightShadow: 5px 5px 25px rgba(19, 31, 54, 0.70);
$DarkShadow: 5px 5px 25px  rgba(149, 190, 228, 0.25);
// -------------------------code---------------
.go-top-button{
    
    width: 50px;
    height: 50px;
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $Lighterblue;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 180px;
    right: 30px;
    cursor: pointer;
    border:  4px solid transparent;
    transition: all 300ms ease;
    box-shadow: $LightShadow;
    body.dark &{
        color: white;
        background: $darkblue1;
    }
}

.go-top-button:hover{
    transform:  scale(1.1);
    box-shadow: $darkpurpleshadow;
    background: $lilac;

    body.dark &{
        background: $purple;
        box-shadow: $lightlilacshadow;
    }
}
@media (max-width: 1024px){
    .go-top-button{
        width: 50px;
        height: 50px;
        right: 0.5%;
}
}
@media (max-width: 912px){
    .go-top-button{
        width: 50px;
        height: 50px;
        right: 0.5%;
}
}
@media (max-width: 550px){
    .go-top-button{
        width: 50px;
        height: 50px;
        right: 1%;
}
}
@media (max-width: 414px){
    .go-top-button{
        width: 50px;
        height: 50px;
        right: 5px;
}
}
@media (max-width: 375px){
    .go-top-button{
        width: 40px;
        height: 40px;
        right: 5px;
}
}
@media (max-width: 280px){
    .go-top-button{
        width: 50px;
        height: 50px;
        right: 5px;
}
}